html,body,#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  margin-top: 20px;
}

:root[theme-mode=dark] {

}

.t-navbar {
  box-shadow: 0 1px 12px 0px rgba(130, 127, 127, 0.71);
}
